name: Machine Learning CI Docker

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install mlflow dagshub pandas scikit-learn joblib

      - name: Run MLflow Project (Training)
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/AndiArif123/Eksperimen_SML_Andi-Arif-Abdillah.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          mlflow run MLProject_Folder/ -e main --env-manager local

      - name: Upload Artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: ml-model-artifacts
          path: |
            model.pkl
            conf_matrix.png
            metric_report.txt

      - name: Build Docker Image
        run: |
          LATEST_RUN_ID=$(mlflow runs list --experiment-id 0 --max-results 1 | grep -oE '[a-z0-9]{32}' | head -n 1)
          echo "Building Docker for Run ID: $LATEST_RUN_ID"
          
          # Build menggunakan model dari Run ID tersebut
          mlflow models build-docker -m "runs:/$LATEST_RUN_ID/tuned_iris_model" -n "andi-iris-model" --enable-mlserver
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push to Docker Hub
        run: |
          docker tag andi-iris-model ${{ secrets.DOCKERHUB_USERNAME }}/andi-iris-model:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/andi-iris-model:latest
