name: Machine Learning CI Docker

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install mlflow dagshub pandas scikit-learn joblib mlserver mlserver-mlflow

      - name: Run MLflow Project (Training)
        env:
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          # Jalankan training dan hasilkan folder model_output
          mlflow run MLProject_Folder/ -e main --env-manager local

      - name: Upload Artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: ml-model-artifacts
          path: |
            model.pkl
            model_output/

      - name: Build Docker Image
        run: |
          # Build langsung dari folder lokal hasil training
          mlflow models build-docker -m "model_output" -n "andi-iris-model" --enable-mlserver

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push to Docker Hub
        run: |
          docker tag andi-iris-model ${{ secrets.DOCKERHUB_USERNAME }}/andi-iris-model:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/andi-iris-model:latest
